[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
gunicorn = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.8"
